* {
    box-sizing: border-box;
    font-family: sans-serif;
    color: rgb(54, 52, 54);
    font-weight: 700;
}

h1 {
    text-align: center;
}

body {
    background-color: rgb(195, 207, 206);
    margin: 0;
    padding: 0;
}

.faq-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faq {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 45vw;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid rgb(139 146 146);
    margin: 8px 0;
    box-shadow: 3px 3px 0px 0px rgb(139 146 146), 6px 6px 0px 0px rgb(91 91 91), 9px 9px 0px 0px rgb(59 61 61);
}

.faq-text {
    display: none;
}

.faq-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
    background: rgb(139 146 146);
    border-radius: 5px;
    border: none;
}

.active {
    display: block;
    background: rgb(139 146 146);
}